/*Title*/
.TitleBar{
    position: relative;
    background-color: rgb(95 , 80, 137);
    height: 80px;
    width: 100%;
    border-bottom: 3px solid black;
}
.Title{
    text-align: center;
    font-family: 'Maven-pro', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: .6rem;
    letter-spacing: 2px;
}

body{
    background-image: url(images/HomePage/WhiteBG.jpg);
    background-size: cover;
}

#backBtn{
    background-color: rgb(95 , 80, 137);
    position: fixed;
    height: 4rem;
    width: 5.5rem;
    border: 1px solid black;
    border-radius: 10% 0% 0% 10%;
    display: block;
    bottom: 60px;
    right: 0px;
    outline: none;
    z-index: 99;
    cursor: pointer;
    padding: none;
    animation: none;
}
#backBtnimg{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
}

#flexRmbrs{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.flexCmbrs{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 20%;
    margin: 1rem;
    flex: 1 1 auto;
}
.fleximgs{
    height: 16em;
    border-radius: 90%;
}
.flextxts{
    text-align: center;
    margin-top: 1em;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 3px;
    font-size: 1.5em;
}
#lngname{
    margin-top: 1em;
    font-size: 1.5em;
}

.footer{
    position: absolute;
    background-color: rgb(95 , 80, 137);
    width: 100%;
    height: 3em;
    bottom: 0%;
    border-top: 1px solid black;
}