.TitleBar{
    background-color: rgb(95 , 80, 137);
    height: 150px;
    width: 100%;
    border-bottom: 3px solid black;
}
.Logo{
    width: 120px;
    height: 120px;
}
.Title{
    text-align: center;
    font-family: 'Maven-pro', sans-serif;
    color: white;
    font-size: 100px;
    margin-right: 50px;
}
body{
    background-image: url(images/HomePage/WhiteBG.jpg);
    background-size: cover;
}

#bttnTop, #abtBtn{
    background-color: rgb(95 , 80, 137);
    position: fixed;
    height: 4rem;
    width: 5.5rem;
    border: 1px solid black;
    border-radius: 10% 0% 0% 10%;
    display: none;
    bottom: 110px;
    right: 0px;
    outline: none;
    z-index: 99;
    cursor: pointer;
    padding: none;
    animation: none;
}
#abtBtn{
    bottom: 30px;
    display: block;
}
#bttnTopimg, #abtBtnimg{
    max-width: 100%;
    max-height: 100%;
}
#abtBtnimg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes fadeOut {
    0% { opacity: 1;}
    1% { opacity: 0; }
} 

.Categories{
    position: relative;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
}
.ctgryTitle{
    font-size: 40px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    margin-top: 15px;
}
.ctgrs{
    position: relative;
    display: block;
    margin: 20px auto;
    height: 400px;
    width: 80%;
    transition: transform .1s;
    border: 2px solid black;
    border-radius: 2%;
}
.ctgrs:hover{
    opacity: 59%;
    transform: scale(1.02);
}
#ctgryBG{
    opacity: 60%;
    height: 100%;
    width: 100%;
    border-radius: 1%;
}
.ctgrylogo{
    max-width: 100%;
    position:absolute;
    height: 75%;
    width: 44%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#sprtsLogo, #plntLogo{
    height: 60%;
    width: 35%;
}
#fdsLogo, #fshnLogo, #mscLogo{
    height: 60%;
    width: 25%;
}
.ctgryTXT{
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    letter-spacing: 6px;
    font-size: 500%;
    position:absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}


#searchbar{
    margin-left: 15%;
    margin-top: 2%;
    padding: 15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 70%;
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
  }